/* RESET GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden; /* evita scroll horizontal */
}

/* NAVBAR FIJA */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px; /* altura de la navbar */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #008000;
  z-index: 1000;
}

/* LINKS */
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  color: red;
}

/* CONTENIDO PRINCIPAL DEBAJO DE NAVBAR */
.main-content {
  padding-top: 70px; /* mismo valor que la altura de la navbar */
  padding-left: 20px;
  padding-right: 20px;
}
