.navbar {
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 10px 20px;
  background-color: #333; 
}

.logo {
  display: flex;
  align-items: center; 
  margin-right: 0px;
}

.logoImage {
  width: 100px; 
  height: 100px;
  margin-right:auto; 
 
  display: flex;
}

.logo h1 {
  margin: 0;
  color: #fff;
  font-size: 30px;
  margin-left: 27px; 
}

.links {
  display: flex;
  justify-content:space-around; 
  text-align: center;
  gap: 40px; 
  margin-right: 700px
  ; 
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}

.link:hover {
  color: #f0f0f0;
}
