

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: #333; 
  width: 100%;
}

.logo {
  display: flex;
  align-items: center; 
  margin-right: 0px;
}

.logoImage {
  width: 100px; 
  height: 100px;
  margin-right: auto; 
  display: flex;
}

.logo h1 {
  margin: 0;
  color: #fff;
  font-size: 30px;
  margin-left: 27px; 
}

.links {
  display: flex;
  justify-content: space-around; 
  text-align: center;
  gap: 40px; 
  margin-right: 100px;
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}

.link:hover {
  color: #f0f0f0;
}


.registerLoginButton {
  background-color: #28a745; 
  color: white;
  margin-left: 140px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.registerLoginButton:hover {
  background-color: #218838; 

}


.logoutButton {
  background-color: #dc3545; 
  color: #fff;
  padding: 5px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #c82333; 
}
