
.appointment {
  background-color: #f5f5f5;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #388e3c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:90%;
  
}

.appointment h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #388e3c;
}

.appointment p {
  margin: 5px 0;
  font-size: 1rem;
  color: #333;
}

.appointment .status {
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
}

.appointment .status.active {
  background-color: #388e3c;
}

.appointment .status.cancelled {
  background-color: #d32f2f;
}

.appointment .time {
  font-weight: bold;
  color: #d32f2f;
}

.appointment .date {
  font-style: italic;
  color: #388e3c;
}

.appointment button {
  background-color: #d32f2f;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.appointment button:hover {
  background-color: #c2185b;
}


.appointment {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.status {
  font-weight: bold;
  padding: 5px;
  margin-top: 10px;
}

.active {
  color: green;
}

.cancelled {
  color: red;
}

.cancelButton {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.cancelButton:hover {
  background-color: darkred;
}
