


.body{
  width: 205vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background:  #ffffff;
  font-family: 'Poppins', sans-serif;
   
}


.formcontainer {
  font-family: 'Poppins', sans-serif;
  background-color: #ff4040;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}
.container label{
  color: #ffffff;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #333333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
}

label {
  font-size: 1rem;
  font-weight: bold;
  color:  #b81717;
  text-align: left;
  display: block;
}

input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
 

}

input:focus {
  border-color: #c0392b;
}


button {
  background-color: #b81717;
  color: #ffffff;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a93226;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}


p {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.success {
  color: #27ae60;
}

.error {
  color: #561010e2;
}
